### Importación de datos

In [4]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda3.head(10)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Secadora de ropa,Electrodomésticos,1285100.0,66600.0,17/12/2021,Camila Rivera,Santa Marta,4,Tarjeta de crédito,4,11.24079,-74.19904
1,Mesa de noche,Muebles,290100.0,13600.0,10/02/2021,Maria Alfonso,Cali,3,Tarjeta de crédito,1,3.43722,-76.52250
2,Guitarra acústica,Instrumentos musicales,303500.0,17400.0,22/01/2023,Lucas Olivera,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
3,Balón de voleibol,Deportes y diversión,58800.0,3300.0,22/03/2022,Pedro Gomez,Barranquilla,4,Tarjeta de crédito,6,10.96854,-74.78132
4,Armario,Muebles,521100.0,25900.0,12/01/2022,Blanca Ramirez,Bogotá,1,Tarjeta de crédito,1,4.60971,-74.08175
5,Impresora,Electrónicos,230700.0,10500.0,20/11/2022,Mariana Herrera,Medellín,5,Tarjeta de crédito,5,6.25184,-75.56359
6,Carrito de control remoto,Juguetes,55700.0,3200.0,07/07/2020,Ángel Rodriguez,Bogotá,2,Nequi,1,4.60971,-74.08175
7,Silla de oficina,Muebles,464600.0,25100.0,01/05/2022,Santiago Silva,Bogotá,5,Nequi,1,4.60971,-74.08175
8,Pandereta,Instrumentos musicales,43500.0,2700.0,27/10/2021,Maria Alfonso,Medellín,5,Tarjeta de crédito,3,6.25184,-75.56359
9,Cubertería,Artículos para el hogar,33500.0,0.0,03/05/2022,Felipe Santos,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

In [19]:
lista_tiendas = [tienda, tienda2, tienda3, tienda4]
ventas_por_tienda = []

for i in lista_tiendas:
    total_tienda = sum(i["Precio"])  # o i.Precio si es un atributo válido
    ventas_por_tienda.append(total_tienda)
    print(total_tienda)

1150880400.0
1116343500.0
1098019600.0
1038375700.0

Categorías más vendidas en Tienda 1:
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

Categorías más vendidas en Tienda 2:
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

Categorías más vendidas en Tienda 3:
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

Categorías más vendidas en Tienda 4:
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

# 2. Ventas por categoría

In [24]:
# Lista de DataFrames (una por tienda)
lista_tiendas = [tienda, tienda2, tienda3, tienda4]
nombres_tiendas = ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']

# Recorremos cada tienda
for nombre, df in zip(nombres_tiendas, lista_tiendas):
    print(f"\nCategorías más vendidas en {nombre}:")
    categorias = df['Categoría del Producto'].value_counts()
    print(categorias)

Categorías más vendidas en Tienda 1:
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

Categorías más vendidas en Tienda 2:
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

Categorías más vendidas en Tienda 3:
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

Categorías más vendidas en Tienda 4:
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

In [28]:

lista_tiendas = [tienda, tienda2, tienda3, tienda4]

# 3. Calificación promedio de la tienda

In [33]:
nombres_tiendas = ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']

for nombre, tienda_df in zip(nombres_tiendas, lista_tiendas):
    promedio_cal = tienda_df['Calificación'].mean()
    print(f"Promedio de calificación en {nombre}: {promedio_cal:.2f}")

Promedio de calificación en Tienda 1: 3.98
Promedio de calificación en Tienda 2: 4.04
Promedio de calificación en Tienda 3: 4.05
Promedio de calificación en Tienda 4: 4.00

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda