### Importación de datos

In [59]:
import matplotlib.pyplot as plt

In [48]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda3.head(10)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Secadora de ropa,Electrodomésticos,1285100.0,66600.0,17/12/2021,Camila Rivera,Santa Marta,4,Tarjeta de crédito,4,11.24079,-74.19904
1,Mesa de noche,Muebles,290100.0,13600.0,10/02/2021,Maria Alfonso,Cali,3,Tarjeta de crédito,1,3.43722,-76.52250
2,Guitarra acústica,Instrumentos musicales,303500.0,17400.0,22/01/2023,Lucas Olivera,Bogotá,5,Tarjeta de crédito,3,4.60971,-74.08175
3,Balón de voleibol,Deportes y diversión,58800.0,3300.0,22/03/2022,Pedro Gomez,Barranquilla,4,Tarjeta de crédito,6,10.96854,-74.78132
4,Armario,Muebles,521100.0,25900.0,12/01/2022,Blanca Ramirez,Bogotá,1,Tarjeta de crédito,1,4.60971,-74.08175
5,Impresora,Electrónicos,230700.0,10500.0,20/11/2022,Mariana Herrera,Medellín,5,Tarjeta de crédito,5,6.25184,-75.56359
6,Carrito de control remoto,Juguetes,55700.0,3200.0,07/07/2020,Ángel Rodriguez,Bogotá,2,Nequi,1,4.60971,-74.08175
7,Silla de oficina,Muebles,464600.0,25100.0,01/05/2022,Santiago Silva,Bogotá,5,Nequi,1,4.60971,-74.08175
8,Pandereta,Instrumentos musicales,43500.0,2700.0,27/10/2021,Maria Alfonso,Medellín,5,Tarjeta de crédito,3,6.25184,-75.56359
9,Cubertería,Artículos para el hogar,33500.0,0.0,03/05/2022,Felipe Santos,Medellín,5,Nequi,1,6.25184,-75.56359

In [49]:
tienda.info()
tienda.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

,Precio,Costo de envío,Calificación,Cantidad de cuotas,lat,lon
count,2.359000e+03,2359.000000,2359.000000,2359.000000,2359.000000,2359.000000
mean,4.878679e+05,26018.609580,3.976685,2.943196,5.365283,-74.789417
std,6.146868e+05,32860.001783,1.415370,2.819897,2.287445,1.217827
min,7.600000e+03,0.000000,1.000000,1.000000,-4.215280,-77.281110
25%,5.575000e+04,3100.000000,3.000000,1.000000,4.609710,-75.563590
50%,2.353000e+05,12400.000000,5.000000,1.000000,4.609710,-74.199040
75%,6.781000e+05,36000.000000,5.000000,4.000000,6.251840,-74.081750
max,2.977000e+06,160800.000000,5.000000,24.000000,11.544440,-67.923900

#1. Análisis de facturación

In [60]:
lista_tiendas = [tienda, tienda2, tienda3, tienda4]
nombres_tiendas = ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']

for nombre, df in zip(nombres_tiendas, lista_tiendas):
    total = df['Precio'].sum()
    print(f'El total de facturacion de a tienda{nombre} es de $ {total:.2f}')

El total de facturacion de a tiendaTienda 1 es de $ 1150880400.00
El total de facturacion de a tiendaTienda 2 es de $ 1116343500.00
El total de facturacion de a tiendaTienda 3 es de $ 1098019600.00
El total de facturacion de a tiendaTienda 4 es de $ 1038375700.00

El total de facturacion de a tiendaTienda 1 es de $ 1150880400.00
El total de facturacion de a tiendaTienda 2 es de $ 1116343500.00
El total de facturacion de a tiendaTienda 3 es de $ 1098019600.00
El total de facturacion de a tiendaTienda 4 es de $ 1038375700.00

# 2. Ventas por categoría

In [52]:
# Lista de DataFrames (una por tienda)
lista_tiendas = [tienda, tienda2, tienda3, tienda4]
nombres_tiendas = ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']

# Recorremos cada tienda
for nombre, df in zip(nombres_tiendas, lista_tiendas):
    print(f"\nCategorías más vendidas en {nombre}:")
    categorias = df['Categoría del Producto'].value_counts()
    print(categorias)

Categorías más vendidas en Tienda 1:
Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

Categorías más vendidas en Tienda 2:
Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

Categorías más vendidas en Tienda 3:
Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

Categorías más vendidas en Tienda 4:
Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

In [53]:

lista_tiendas = [tienda, tienda2, tienda3, tienda4]

# 3. Calificación promedio de la tienda

In [54]:
nombres_tiendas = ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']

for nombre, tienda_df in zip(nombres_tiendas, lista_tiendas):
    promedio_cal = tienda_df['Calificación'].mean()
    print(f"Promedio de calificación en {nombre}: {promedio_cal:.2f}")

Promedio de calificación en Tienda 1: 3.98
Promedio de calificación en Tienda 2: 4.04
Promedio de calificación en Tienda 3: 4.05
Promedio de calificación en Tienda 4: 4.00

# 4. Productos más y menos vendidos

In [55]:
nombres_tiendas = ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']
lista_tiendas = [tienda, tienda2, tienda3, tienda4]

In [56]:
for nombre, tienda_df in zip(nombres_tiendas, lista_tiendas):
    print(f'\nProductos más vendidos en {nombre}')
    productos_max = tienda_df['Producto'].value_counts().head(5)

    print(productos_max)

    print(f'\nProductos menos vendidos en {nombre}')
    productos_min = tienda_df['Producto'].value_counts().tail(5)

    print(productos_min)

Productos más vendidos en Tienda 1
Producto
Microondas          60
TV LED UHD 4K       60
Armario             60
Secadora de ropa    58
Mesa de noche       56
Name: count, dtype: int64

Productos menos vendidos en Tienda 1
Producto
Ciencia de datos con Python    39
Pandereta                      36
Olla de presión                35
Auriculares con micrófono      33
Celular ABXY                   33
Name: count, dtype: int64

Productos más vendidos en Tienda 2
Producto
Iniciando en programación    65
Microondas                   62
Batería                      61
Guitarra acústica            58
Pandereta                    58
Name: count, dtype: int64

Productos menos vendidos en Tienda 2
Producto
Auriculares        37
Sillón             35
Mesa de comedor    34
Impresora          34
Juego de mesa      32
Name: count, dtype: int64

Productos más vendidos en Tienda 3
Producto
Kit de bancas      57
Mesa de comedor    56
Cama king          56
Set de ollas       55
Mesa de noche      55
Name: count, dtype: int64

Productos menos vendidos en Tienda 3
Producto
Guitarra eléctrica         38
Set de vasos               36
Mochila                    36
Microondas                 36
Bloques de construcción    35
Name: count, dtype: int64

Productos más vendidos en Tienda 4
Producto
Cama box                     62
Cubertería                   59
Dashboards con Power BI      56
Cama king                    56
Carrito de control remoto    55
Name: count, dtype: int64

Productos menos vendidos en Tienda 4
Producto
Refrigerador                   38
Ciencia de datos con Python    38
Guitarra acústica              37
Armario                        34
Guitarra eléctrica             33
Name: count, dtype: int64

# 5. Envío promedio por tienda

In [57]:
nombres_tiendas = ['Tienda 1', 'Tienda 2', 'Tienda 3', 'Tienda 4']
lista_tiendas = [tienda, tienda2, tienda3, tienda4]

In [58]:
for nombre, tienda_df in zip(nombres_tiendas, lista_tiendas):
    promedio_envio = tienda_df['Costo de envío'].mean()
    print(f'El costo de envio en la tienda {nombre} es de: {promedio_envio:.2f}')

El costo de envio en la tienda Tienda 1 es de: 26018.61
El costo de envio en la tienda Tienda 2 es de: 25216.24
El costo de envio en la tienda Tienda 3 es de: 24805.68
El costo de envio en la tienda Tienda 4 es de: 23459.46